/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #8be88d;
	--accent-dark: #a5e5c2;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-dark), 80%), #3a4168;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	font-family:  sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: rgb(var(--gray-dark));
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 100%;
	max-width: calc(100% - 2em);
	margin: auto;
	border-radius: 10px;
}

.chart {
	height: 60dvh;
}

h1 {
	font-size: 3.052em;

	color: var(--accent);
}

h2 {
	font-size: 2.441em;
	color: var(--accent-dark);
}

h3 {
	font-size: 1.953em;
	color: var(--accent-dark);
}

h4 {
	font-size: 1.563em;
	color: #40cde0;
}

h5 {
	font-size: 1.25em;
	color: #a5b1f4;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;

	font-size: 1.07em;
}

.prose p {
	margin-bottom: 2em;

	font-size: 1.07em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: #3a4168;
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 20px;
}

pre>code {
	all: unset;

}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));

}

.cellrow:hover td {
	background-color: rgb(57, 94, 126);
}

.cellrow td {
	background-color: #1a2635;
}

.cellrow td.positive {
	background-color: #013f21;
}

.cellrow td.negative {
	background-color: #da2a2a;
}


@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}