
<span>
    <div class="mx-3 rounded-xl text-white text-bold text-2xl">
        <div> 🚀Bot
            <select class="bg-black">
                <option>Bibyt Futures</option>
                <!-- underlined option -->
                <option>BUY Binance Futures</option>
                <option>BUY Bybit Spot</option>
                <option>BUY Binance Spot</option>
            </select>
        </div>
    </div>
</span>